/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&spi3 {
	status = "disabled";
};

&spi2 {
	status = "disabled";
};

/{
	nrfx_spi_gpios{
		compatible = "gpio-keys";
		nrfx_spi_sck: sck {
			gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
			label = "spi_sck";
		};
		nrfx_spi_miso: miso {
			gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
			label = "spi_miso";
		};
		nrfx_spi_mosi: mosi {
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
			label = "spi_mosi";
		};
		nrfx_spi_cs: cs {
			gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
			label = "spi_cs";
		};
	};

	aliases {
		state-notifier-connected = &led0;
		state-notifier-time-sync = &led1;
		state-notifier-registered = &led2;
		state-notifier-working = &led3;
	};

	semtech_sx1262_gpios{
		compatible = "gpio-keys";
		semtech_sx1262_reset_gpios: reset {
			gpios = <&gpio0 3 (GPIO_ACTIVE_LOW|GPIO_PULL_UP)>;
			label = "semtech_sx1262 Reset";
		};
		semtech_sx1262_busy_gpios: busy {
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
			label = "semtech_sx1262 Busy";
		};
		semtech_sx1262_antenna_enable_gpios: antena_enable {
			gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
			label = "semtech_sx1262 Antena Enable";
		};
		semtech_sx1262_dio1_gpios: dio1 {
			gpios = <&gpio1 6 (GPIO_ACTIVE_HIGH|GPIO_PULL_DOWN)>;
			label = "semtech_sx1262 DIO1";
		};
	};

	debug_gpios{
		compatible = "gpio-keys";
		debug_gpio_raa_tx: raa_tx {
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
			label = "debug gpio raa tx";
		};
		debug_gpio_radio_irq: radio_irq {
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
			label = "debug gpio radio irq";
		};
		debug_gpio_radio_tx: radio_tx {
			gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
			label = "debug gpio radio tx";
		};
		debug_gpio_radio_rx: radio_rx {
			gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
			label = "debug gpio radio rx";
		};
		debug_gpio_raa_rx: raa_rx {
			gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
			label = "debug gpio raa rx";
		};

	};

	chosen {
		nordic,pm-ext-flash = &mx25r64;
	};
};
